
.LogoText {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.Card{
    width: 50%;
   
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: rgb(220, 53, 69);
    border-radius: 10px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s ease, transform 1s ease;
 }
 .animate-card {
   opacity: 1;
   transform: scale(1);
}

 .image{
    margin-top: 5%;
    height: 30%;
    width: 30%;
 }

 .imageKFC{
    margin-top: 5%;
    height: 30%;
    width: 50%;
 }
 .main{
    display: flex;
    flex-direction: column;

    align-items: center;
 }
 .ParMC{
    padding: 5%;
    color: yellow;
    font-family: 'Almendra';
}
.LInk {
   text-decoration: none;
}
